EXPRESS_PORT=3200

REFRESH_TOKEN_KEY=
AUTH_TOKEN_KEY=
AUTH_TOKEN_DURATION= "15m"
REFRESH_TOKEN_DURATION = "1d"

DATABASE_URL='mongodb://localhost/users'

BCRYPT_SALT_ROUND = 10

ADMIN_EMAIL=
ADMIN_PASSWORD=

REDIS_URL='redis://localhost:6379'

ORIGIN="http://localhost"